@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inconsolata", monospace;
}
.header-logo {
  padding-top: 40px;
  padding-left: 70px;
}
.contianer {
  display: flex;
  justify-content: space-evenly;

  /* gap: 120px; */
  margin: 100px 110px 190px 70px;
}

.left-part {
  display: flex;
  justify-content: end;
}

.right-part {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.left-part img {
  width: 480px;
}

.title {
  font-size: 60px;
  color: #333;
  font-weight: 700;
  letter-spacing: -2.24px;
  width: 580px;
}

.text {
  color: var(--gray-2, #4f4f4f);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.84px;
  width: 380px;
}

.btn {
  padding: 20px 40px;
  font-size: 14px;
  background: #333;
  color: white;
  cursor: pointer;
  font-family: "Inconsolata", monospace;
}

.foooter-text {
  text-align: center;
  margin-bottom: 25px;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
}

footer a {
  color: #bdbdbd;
}

/* responsive web design */

/* mobile devices*/

@media screen and (max-width: 576px) {
  .contianer {
    flex-direction: column;
    margin: 0;
    gap: 60px;
  }

  .left-part {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-part img {
    width: 280px;
  }

  .header-logo {
    padding: 20px;
  }

  .title {
    font-size: 45px;
    width: 350px;
    padding-bottom: 30px;
  }

  .text {
    font-size: 18px;
    width: 350px;
    margin-bottom: 60px;
  }

  footer {
    margin-bottom: 0;
  }

  .right-part {
    gap: 0px;
    padding-left: 20px;
    justify-content: left;
  }

  .btn-primary {
    margin-bottom: 150px;
  }
}

/* medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .contianer {
    justify-content: space-evenly;
    padding: 20px;
  }

  .left-part img {
    scale: 0.8;
  }

  .title {
    width: 250px;
  }

  .text {
    width: 250px;
  }
}
