@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inconsolata", monospace;
}
.header-logo {
  padding-top: 40px;
  padding-left: 70px;
}
.contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin: 100px 110px 190px 70px;
}

.left-part {
  display: flex;
  justify-content: end;
  width: 50%;
}

.left-part img {
  width: 80%;
}

.title {
  font-size: 60px;
  padding-bottom: 35px;
  color: #333;
  font-weight: 700;
  letter-spacing: -2.24px;
  width: 580px;
}

.text {
  color: var(--gray-2, #4f4f4f);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.84px;
  padding-bottom: 60px;
  width: 380px;
}

.right-part {
  width: 50%;
}

.btn {
  padding: 20px 40px;
  background: #333;
  color: white;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-bottom: 25px;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
}

footer a {
  color: #bdbdbd;
}
